.input-container mat-form-field + mat-form-field {
  margin-left: 8px;
}
.input-field {
  width: 100%;
}

.card-container {
  width: 400px;
  margin: auto;
/*  a centrat*/
/*  text-align: center !important;*/
}

.div-buttons-container{
  display: flex;
}

.btn-save{
  margin: auto;
}

.auth-div{
  /*display: flex;*/  /* cand e flex poti manipula spatiu
  height: 100%;
  margin: auto;
  /*vertical-align: middle;*/
  text-align: center !important;

}

.div-logo{
  /*width: 100%; !*  va lua spatiul disponibili*!*/
  /*display: flex;*/
  /*margin: auto;*/
}

.img-logo{
  /*background-image: url("../../assets/phone.png");*/
  height: 150px;
  /*margin: auto;*/
  border-radius: 50%;
  cursor: pointer;
}

body{
  background-color: #dcdcdc;
}

