<mat-drawer-container class="drawer-container background-img" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side">
    <div class="div-logo">
      <img class="img-logo" (click)="onLogo()" src="../../assets/gym-logo.jpeg"/>
    </div>

    <mat-card class="card-menu-button" (click)="onAntrenamente()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Antrenamente</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onNutritie()">
      <mat-card-content>
        <p>Nutritie</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onEchipamenteSportive()">
      <mat-card-content>
        <p>Echipament Sportiv</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onSuplimente()">
      <mat-card-content>
        <p>Suplimente</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onSala()">
      <mat-card-content>
        <p>Sala</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" *ngIf="isUserAdmin()" (click)="onDashboard()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Dashboard</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" *ngIf="!isUser()" (click)="onLogIn()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Login</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" *ngIf="isUser()" (click)="onLogOut()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Log out</p>
      </mat-card-content>
    </mat-card>
  </mat-drawer>

  <div class="drawer-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-logo"><img class="img-logo" (click)="onLogo()" src="../../assets/gym-logo.jpeg"/></span>
      <span class="example-spacer"></span>
<!--      <button mat-icon-button class="example-icon favorite-icon">-->
<!--        <mat-icon>favorite</mat-icon>-->
<!--      </button>-->
<!--      <button mat-icon-button class="example-icon">-->
<!--        <mat-icon>share</mat-icon>-->
<!--      </button>-->
      <app-cart-button></app-cart-button>
    </mat-toolbar>
    <mat-card class="our-story">
      <mat-card-header>
        <!--      <div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title class="card-title">
          Diferența dintre alimentație și nutriție
        </mat-card-title>
        <!--        <mat-card-subtitle class="card-subtitle"><h3>Motivația de care ai nevoie</h3></mat-card-subtitle>-->
        <!--        Descoperă cel mai sănătos stil de viață alături de antrenorii personali D.D Fitness!-->
        <!--        Vino să îți depășești limitele, să îți descoperi determinarea și să intri în cea mai bună formă în cele 4 de cluburi din București și din țară!-->
      </mat-card-header>
      <mat-card-content>
        <p></p>
        <p>
          Majoritatea oamenilor nu știm încă că există o diferență între alimentație și nutriție. Este foarte comun ca
          nutrienții și alimentele să fie confundate. Cu toate acestea, ele sunt diferite, nutrienții se găsesc în
          alimente, dar nu toate alimentele sunt hrănitoare sau conțin nutrienți.
        </p>
        <h2 class="chapters">Nutriție vs Alimentație</h2>
        <p>
          Mâncarea este ceea ce mâncăm și bem pentru energie și pentru a rămâne în viață. Pe de altă parte, nutriția
          este o parte a alimentelor care este folosită de celulele noastre și metabolizată de organism pentru a aduce
          toate contribuțiile de care corpul nostru are nevoie.
        </p>
        <h2 class="chapters">Alimentație:</h2>
        <p>
          Alimentele care ajung zilnic în farfuria noastră.
        </p>
        <h2 class="chapters">Nutriție:</h2>
        <p>
          Substanțele nutritive pe care le primește organisul nostru.
        </p>
        <img class="image-content"
             src="https://magneticfit.ro/wp-content/uploads/2022/07/Diferenta-dintre-alimentatie-si-nutritie-768x513.jpg"/>
        <h2 class="chapters">De ce sunt importante alimentația și nutriția?</h2>
        <p>Contrar a ceea ce s-ar putea crede, nu avem nevoie de alimente pentru a funcționa corect… avem de fapt nevoie
          de nutriție.
        </p>
        <p>
          Înainte de a mânca ceva, întreabă-te dacă acel aliment va adăuga nutriție organismului tău sau conține doar
          zahăr și grăsimi. Un specialist în nutriție te poate ajuta să scoți alimentele procesate din dieta ta și să te
          concentrezi mai mult pe alimentele care sunt hrănitoare.
        </p>
        <p>
          În cele din urmă, alimentația nu înseamnă privare. Dacă ai poftă de ceva dulce nu trebuie să renunți la
          desertul de după prânz sau cină, trebuie doar să găsești alternative sănătoase și gustoase.
        </p>
        <h2 class="chapters">Nutriția este un element cheie pentru longevitate și calitatea vieții</h2>
        <p>
          Mâncarea, nutriția și sănătatea sunt cuvinte strâns legate. Sănătatea noastră depinde de ceea ce mâncăm.
          Alimentele pe care le consumăm pot fie să conțină nutriția de care corpul nostru are nevoie, fie deloc. Atât
          cantitatea, cât și calitatea nutriției din alimente este cea care decide sănătatea noastră.
        </p>
        <p>
          O dietă sănătoasă pe tot parcursul vieții sprijină creșterea, dezvoltarea și îmbătrânirea normală, ajută la
          menținerea unei greutăți corporale sănătoase și reduce riscul de boli cronice.
        </p>
        <h2 class="chapters">Care sunt cei 7 nutrienți importanți din alimente?</h2>
        <p>
          Nutriția presupune să oferim corpului ceea ce are nevoie, nu ceea ce ne place să mâncăm. </p>
        <p>
          Există șapte clase principale de nutrienți de care organismul are nevoie. Acestea sunt:
        </p>
        <p class="nutritie-content">1. proteine</p>
        <p class="nutritie-content">2. grăsimi</p>
        <p class="nutritie-content">3. vitamine</p>
        <p class="nutritie-content">4. minerale</p>
        <p class="nutritie-content">5. fibre</p>
        <p class="nutritie-content">6. apă</p>
        <p class="nutritie-content">7. carbohidrați complecși</p>
        <p>
          Acum este un fapt că nu fiecare aliment are toți acești nutrienți în proporțiile pe care le cere corpul
          nostru, ceea ce înseamnă că trebuie să avem o varietate de alimente pentru a ne îndeplini cerințele zilnice de
          acești nutrienți.
        </p>
        <p>
          În principiu, trebuie să mâncăm multe legume și fructe, deoarece acestea conțin vitamine și minerale împreună
          cu carbohidrați, lapte și produse lactate pentru grăsimi și proteine, și cereale și produse din carne pentru
          proteine.
        </p>
        <h2 class="chapters">Care sunt alimentele pe care să le consumi cu moderație?</h2>
        <p>
          Consumul cu moderație a anumitor alimente nu îți va afecta sănătatea. Asta înseamnă că este acceptabil să
          mănânci ceva care nu este bun pentru tine atâta timp cât mănânci doar în porții mici și nu foarte des.
        </p>
        <img class="image-content"
             src="https://magneticfit.ro/wp-content/uploads/2022/07/nutritie-768x591.jpg"/>

        <h2 class="chapters">Iată principalele alimente pe care e bine să le consumi cu moderație:</h2>
        <p class="nutritie-content">1. Cereale rafinate</p>
        <p class="nutritie-content">2. Cartofi prăjiți și chipsuri de cartofi</p>
        <p class="nutritie-content">3. Făină albă</p>
        <p class="nutritie-content">4. Fast food</p>
        <p class="nutritie-content">5. Dulciurile și prăjiturile</p>
        <p class="nutritie-content">6. Produse de patiserie</p>
        <p class="nutritie-content">7. Băuturi zaharoase și alcoolul</p>
        <p>
          Dacă nu ești sigur dacă un aliment este sănătos sau nesănătos, citește mereu eticheta produsului.
        </p>

      </mat-card-content>
    </mat-card>
    <mat-card class="our-story">
      <mat-card-header>
        <!--      <div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title class="card-title-two">
          Dacă ești gata să faci primul pas către un stil de viaţă sănătos, achizitioneaza astăzi
          planul de nutriție personalizat!
        </mat-card-title>
      </mat-card-header>

    </mat-card>
    <app-list-items [isAdmin]="false"></app-list-items>
  </div>

</mat-drawer-container>

