.drawer-container {
  width: 100%;
  height: 100%;

}

.drawer-sidenav-content {
  height: 100%;

}

.drawer-sidenav {
  padding: 20px;
  /*background-color: rgba(255, 255, 255, 0.9);*/
  background-color: rgba(215, 186, 154, 0.5);

}

.card-menu-button{
  width: 350px;
  margin-bottom: 16px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
  /*background-color: rgba(215, 186, 154, 1)*/
}

.div-logo{
  width: 100%; /*  va lua spatiul disponibili*/
  display: flex;

}

.img-logo{
  /*background-image: url("../../assets/phone.png");*/
  height: 150px;
  margin: auto;
  border-radius: 50%;
  cursor: pointer;
}

.img-banner{
  /*border: 2px; !* Setează grosimea și culoarea chenarului *!*/
  background-color: rgba(215, 186, 154, 0.9);
  padding: 10px; /* Adaugă un spațiu între chenar și imagine */
  display: inline-block;
  width: 29%;
  margin: 16px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.example-spacer {
  flex: 1 1 auto;
}

.background-img {
  height: 100%;
  /*color:    #fff;*/
  background-image: url("../../assets/gym-background.JPG");
  /*background-size: 100%;*/
  /*background-size: cover;*/
  background-size: cover;
}

/*.mat-toolbar {*/
/*  background-color: rgba(215, 186, 154, 1);*/
/*}*/

.mat-toolbar {
  /*background-color: rgba(104, 79, 75, 0.8);*/
  /*background-color: rgba(63, 81, 181,0.85);*/
  background-color: rgba(215, 186, 154, 0.5);
}

.card-menu-button:hover {
  background-color: rgba(215, 186, 154, 1);
}

.toolbar-logo .img-logo{
  height: 60px;
  /*margin: auto;*/
  display: flex;
  /*flex: 1 1 auto;*/
  /*text-align: center;*/
}
.our-story {
  /*position: fixed;*/
  top: 30px;
  width: 700px;
  margin-left: 280px;
  margin-bottom: 35px;
  margin-right: 47px;
  background-color: rgba(215, 186, 154, 0.9);

}
.our-story-two{
  top: 30px;
  width: auto;
  margin-left: 16px;
  margin-bottom: 20px;
  margin-right: 47px;
  background-color: rgba(215, 186, 154, 0.9);

}

.card-title-tree{
  color: #EC1C24;
  font-family: "Graphik", Sans-serif;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-left: 207px;
}

.card-title {
  color: #EC1C24;
  font-family: "Graphik", Sans-serif;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 5px;
  margin-left: 35px;
  margin-bottom: 3px;
}

.card-subtitle{
  color: #000000;
  font-family: "Graphik", Sans-serif;
  font-size: 15px;
  /*line-height: 1.2em;*/
  font-weight: bold;
  margin-left: 180px;
}

.image-content{
  margin-left: 360px;
  height: 300px;
  width: 450px;
}

.card-title-two{
  color: #EC1C24;
  font-family: "Graphik", Sans-serif;
  font-size: 21px;
  font-weight: 799;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.chapters{
  margin-bottom: 0px;
  margin-top: 20px;
}

.nutritie-content{
  font-weight: 550;
}

.program-titlu{
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 260px;
}

.program-orar{
  font-weight: bold;
  font-size: 15px;
  margin-left: 220px;
}
