.drawer-container {
  width: 100%;
  height: 100%;
}

.drawer-sidenav-content {
  height: 100%;

}

.drawer-sidenav {
  padding: 20px;
}

.card-menu-button {
  width: 350px;
  margin-bottom: 16px;
  cursor: pointer;
}

.div-logo{
  width: 100%; /*  va lua spatiul disponibili*/
  display: flex;
}

.img-logo{
  /*background-image: url("../../assets/phone.png");*/
  height: 150px;
  margin: auto;
  border-radius: 50%;
  cursor: pointer;
}

.img-banner{
  width: 30%;
  margin: 16px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.example-spacer {
  flex: 1 1 auto;
}

.background-img {
  height: 100%;
  color:
    #fff;
  background-image: url("../../assets/gym-background.JPG");
  /*background-size: 100%;*/
  /*background-size: cover;*/
  background-size: cover;
}

