<mat-drawer-container class="drawer-container background-img" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side">
    <div class="div-logo">
      <img class="img-logo" (click)="onLogo()" src="../../assets/gym-logo.jpeg"/>
    </div>
    <mat-card class="card-menu-button" (click)="onAntrenamente()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Antrenamente</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onNutritie()">
      <mat-card-content>
        <p>Nutritie</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onEchipamenteSportive()">
      <mat-card-content>
        <p>Echipament Sportiv</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onSuplimente()">
      <mat-card-content>
        <p>Suplimente</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onSala()">
      <mat-card-content>
        <p>Sala</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" *ngIf="isUserAdmin()" (click)="onDashboard()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Dashboard</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" *ngIf="!isUser()" (click)="onLogIn()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Login</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" *ngIf="isUser()" (click)="onLogOut()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Log out</p>
      </mat-card-content>
    </mat-card>
  </mat-drawer>

  <div class="drawer-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon">
        <mat-icon>share</mat-icon>
      </button>
      <app-cart-button></app-cart-button>
    </mat-toolbar>
    <app-list-items [isAdmin]="false"></app-list-items>
  </div>

</mat-drawer-container>

