<mat-drawer-container class="drawer-container background-img" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side">
    <div class="div-logo">
      <img class="img-logo" (click)="onLogo()" src="../../assets/gym-logo.jpeg"/>
    </div>

    <mat-card class="card-menu-button" (click)="onAntrenamente()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Antrenamente</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onNutritie()">
      <mat-card-content>
        <p>Nutritie</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onEchipamenteSportive()">
      <mat-card-content>
        <p>Echipament Sportiv</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onSuplimente()">
      <mat-card-content>
        <p>Suplimente</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onSala()">
      <mat-card-content>
        <p>Sala</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onHome()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Home</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-menu-button" (click)="onLogOut()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Log out</p>
      </mat-card-content>
    </mat-card>
  </mat-drawer>

  <div class="drawer-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-logo"><img class="img-logo" (click)="onLogo()" src="../../assets/gym-logo.jpeg"/></span>
      <span class="example-spacer"></span>
<!--      <button mat-icon-button class="example-icon favorite-icon">-->
<!--        <mat-icon>favorite</mat-icon>-->
<!--      </button>-->
<!--      <button mat-icon-button class="example-icon">-->
<!--        <mat-icon>share</mat-icon>-->
<!--      </button>-->
    </mat-toolbar>

    <app-list-orders></app-list-orders>

    <app-add-edit-user [user]="userData"></app-add-edit-user>

    <app-list-users (changeUserData)="onChangeUser($event)"></app-list-users>

    <!--cu input inroducem date-->
    <!--[item] reprezinta @Input("item") din componenta de add-edit-item-->
    <app-add-edit-item [item]="itemData"></app-add-edit-item>
    <!--[] asa se scriu proprietatile-->
    <!--(changeData) reprezinta @Output din componenta list-items-->
    <app-list-items (changeData)="onChageItem($event)" [isAdmin]="true"></app-list-items>
    <!--in angular cand punem () inseamna ca o sa aveam un eveniment-->
    <!--cu evenimente putem extrage componente-->

  </div>

</mat-drawer-container>

