.drawer-container {
  width: 100%;
  height: 100%;
}

.drawer-sidenav-content {
  height: 100%;

}

.drawer-sidenav {
  padding: 20px;
}

.card-menu-button {
  width: 350px;
  margin-bottom: 16px;
  cursor: pointer;
}

.div-logo{
  width: 100%; /*  va luat spatiul disponibili*/
  display: flex;
}

.img-logo{
  height: 150px;
  margin: auto;
  border-radius: 50%;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}

.background-img {
  height: 100%;
  color: #fff;
  background-image: url("../../assets/gym-background.JPG");
  /*background-size: 100%;*/
  /*background-size: cover;*/
  background-size: cover;
}
