.card-item {
  width: 30%;
  margin: 16px;
  background-color: rgba(215, 186, 154, 0.9);
}

.image {
  width: 100%;
  height: 200px;
  /*margin-left: 25%;*/
  object-fit: contain;

}

.page-view {
  display: flex;
  flex-wrap: wrap;
}

.div-controls {
  display: flex;
}

.btn-buy {
  margin: auto;

}

.div-admin-controls {
  display: grid;
}

.p-title {
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-top: 16px;
}

.p-description {
  font-size: 14px;
  font-style: italic;
}

.p-price{
  font-weight: bold;
}
/* ATENTIE! la imagini doar doar lagimea sau lungimea pentru ca altfel daca le dai pe amandoua s-ar putea distorsiona imaginea */

