<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side">
    <div class="div-logo">
      <img class="img-logo"
           src="https://img.freepik.com/premium-vector/colorful-bird-illustration-gradient-abstract_343694-1740.jpg"/>
    </div>
    <mat-card class="card-menu-button">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Dan</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-menu-button" (click)="onDashboard()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Dashboard</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card-menu-button" (click)="onLogOut()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Logout</p>
      </mat-card-content>
    </mat-card>
  </mat-drawer>

  <div class="drawer-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <app-list-items [isAdmin]="false">

    </app-list-items>
  </div>

</mat-drawer-container>

