<mat-drawer-container class="drawer-container background-img" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side">
    <div class="div-logo">
      <img class="img-logo" (click)="onLogo()" src="../../assets/gym-logo.jpeg"/>
    </div>

    <mat-card class="card-menu-button" (click)="onAntrenamente()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Antrenamente</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onNutritie()">
      <mat-card-content>
        <p>Nutritie</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onEchipamenteSportive()">
      <mat-card-content>
        <p>Echipament Sportiv</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onSuplimente()">
      <mat-card-content>
        <p>Suplimente</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" (click)="onSala()">
      <mat-card-content>
        <p>Sala</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" *ngIf="isUserAdmin()" (click)="onDashboard()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Dashboard</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" *ngIf="!isUser()" (click)="onLogIn()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Login</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card-menu-button" *ngIf="isUser()" (click)="onLogOut()">
      <mat-card-content> <!-- iti pune acel padding sa nu fie textul lipit de inceputul cardului-->
        <p>Log out</p>
      </mat-card-content>
    </mat-card>
  </mat-drawer>

  <div class="drawer-sidenav-content">
    <mat-toolbar class="mat-toolbar" color="primary">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-logo"><img class="img-logo" (click)="onLogo()" src="../../assets/gym-logo.jpeg"/></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon">
        <mat-icon>share</mat-icon>
      </button>
      <app-cart-button></app-cart-button>
    </mat-toolbar>
    <img class="img-banner"
         src="https://media.cnn.com/api/v1/images/stellar/prod/i-phone-15-lineup.jpg?c=16x9&q=h_833,w_1480,c_fill"/>
    <!--daca vezi in url-ul de imagine database image 64 nu e bine, transmisa imaginea sub forma de string    -->
    <img class="img-banner" src="https://cdn.britannica.com/09/241709-050-149181B1/apple-iphone-11-2019.jpg"/>
    <img class="img-banner"
         src="https://www.cnet.com/a/img/resize/e7d13c4b1ab0c78ab7cf97e4866525c47d93cc52/hub/2023/09/13/4d22fc36-24cf-4d60-b07f-4c76faec83c3/iphone-15-vs-15-pro.jpg?auto=webp&fit=crop&height=1200&width=1200"/>
    <app-list-items [isAdmin]="false"></app-list-items>
  </div>

</mat-drawer-container>

